<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPL DATA</title>
    <link rel="shortcut icon" href="#">
</head>
<body>
    <h1>Get IPL data here</h1>
    <ul>
        <li>problem1 - Matches per year</li>
        <li>problem2 - Matches won per team per year</li>
        <li>problem3 - Extra runs conceded per team in the year</li>
        <li>problem4 - Top economical bowlers</li>
        <li>problem5 - Teams won toss and match</li>
        <li>problem6 - Player of the match</li>
        <li>problem7 - Strike rate of a batsman</li>
        <li>problem8 - Player dismissed</li>
        <li>problem9 - Bowler with best economy in super over</li>
      
    </ul>
</body>
</html>